* {
  font-family: 'Montserrat', sans-serif;
}

.pointer {
  cursor: pointer;
}

.img--grayscale {
  filter: grayscale(1);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pre-line {
  white-space: pre-line;
}

.border-thin {
  border: 1px solid var(--v-dark-lighten4);
}

// Container
.container {
  @media (min-width: 1264px) {
    max-width: 1240px;
  }

  @media (min-width: 1904px) {
    max-width: 1240px !important;
  }
}

.VueCarousel-dot {
  transition: all 0.25s ease;
  &-container {
    margin-top: -50px !important;
  }

  &--active {
    width: 40px !important;
    height: 10px !important;
    border-radius: 20px !important;
    transform: scale(1.05);
  }

  &:focus {
    outline: none !important;
  }
}

// .v-window__prev,
// .v-window__next {
// background-color: #fff002;
// }

// .v-btn--icon.v-size--default .v-icon,
// .v-btn--fab.v-size--default .v-icon {
// color: black;
// }
